.sign-in {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

    .title {
        margin: 10px;
    }

    .buttons {
        display:flex;
        justify-content: space-between;
    }
}